<!-- <div class="outer-container">
  <div class="toolbox">
    

  </div> -->
<div class="outer">
<div class="graph" (mouseup)="onMouseUp()">
  <app-state-node *ngFor="let node of nodes | keyvalue" class="state-node" [style.left.px]="node.value.x"
    [style.top.px]="node.value.y" [nodeId]="node.value.nodeId" [title]="node.value.title" [state_interface]="node.value.state_interface"
    (circleDrag)="handleCircleDrag($event)" (nodeDrag)="handleNodeDrag($event)"
    (topCircleEnter)="handleTopCircleEnter($event)" (topCircleLeave)="handleTopCircleLeave()">
  </app-state-node>
  <!-- <ng-container *ngIf="viewInitialized"> -->

    <app-transition-edge *ngFor="let edge of edges | keyvalue" class="drawn-edge"
    [sourceId]="edge.value.sourceNodeId" [targetId]="edge.value.targetNodeId" [sourceNodeOutputGate]="edge.value.sourceNodeOutputGate" [edgeId]="edge.value.id">
    </app-transition-edge>

 
  
  <!-- circleDrag is output of app-state-node and not an event. Therefore, it needs to be forwarded to handleCircleDrag this way. -->
  <app-transition-edge class="drawing-edge" *ngIf="isDrawing" [startX]="startXCircle" [startY]="startYCircle"
    [endX]="currentX" [endY]="currentY"></app-transition-edge>

</div></div>