<div [ngClass]="{'control-panel-act': activated, 'control-panel-deact': !activated}" id="controlPanel">
    <div *ngIf="activated" class="state-nodes">
      <!-- State nodes go here -->
      <app-state-node-blueprint></app-state-node-blueprint>
      <app-state-node-blueprint></app-state-node-blueprint>
      <app-state-node-blueprint></app-state-node-blueprint>
      <app-state-node-blueprint></app-state-node-blueprint>
      
      <!-- Add more state nodes as needed -->
    </div>
    <button class="collapse-button" id="collapseButton" (click)="switchActivationState()"><</button>
  </div>