<div [ngClass]="{'control-panel-act': activated, 'control-panel-deact': !activated}" id="controlPanel">
  <div *ngIf="activated" class="state-nodes">

    <app-state-node-blueprint *ngFor="let item of node_interfaces | keyvalue" class="state-node-blueprint"
      [state_interface]="item.value" (mousedown)="onMouseDown($event, item.value.stateId)">
    </app-state-node-blueprint>

  </div>
  <button class="collapse-button" id="collapseButton" (click)="switchActivationState()">
    {{ activated ? '<' : '>' }} </button>
</div>