<!-- <div class="container"> -->
    <div class="rectangle">
        <div class="title">{{ getDisplayTitle() }}</div>
        <hr> <!-- Horizontal Divider -->
        <div class="information">
            {{state_interface.infoText}}
        </div>
    
        <div class="input-parameters-container" *ngIf="parInterfaceNotEmpty()">
            <div *ngFor="let item of state_interface.input_par_interface | keyvalue" class="input-parameters">
                <label class="input-par-label">{{ item.key }}</label>
                <select disabled class="input-par-set" *ngIf="item.value['type']=='enum'">
                    <option *ngFor="let value of item.value['values']">{{ value }}</option>
                </select>
                <input disabled type="number" class="input-par-set" *ngIf="item.value['type']=='number'">
                <input disabled type="text" class="input-par-set" *ngIf="item.value['type']=='string'">
                <select disabled class="input-par-set" *ngIf="item.value['type']=='boolean'">
                    <option> False </option>
                    <option> True </option>
                </select>
            </div>
        </div>
    </div>
    <!-- <div #topCircle class="circle top-circle"></div>
    <div class="bottom-circle-container">
        <div *ngFor="let outputGate of state_interface.output_interface" #bottomCircle class="circle bottom-circle"></div>
    </div> -->