<!-- <svg>
    <path *ngFor="let edge of edges | keyvalue" class="pathclass" [attr.d]="getPathL(edge.value.sourceNodeId, edge.value.targetNodeId, edge.value.sourceNodeOutputGate)" stroke="black" fill="black" stroke-linejoin="round"
        stroke-linecap="round" stroke-width="1" (contextmenu)="onRightClick($event)" (mouseover)="onMouseOver($event)" pointer-events="all"/>

</svg> -->
<svg>
    <path class="pathclass" [attr.d]="getPath()" stroke="black" fill="transparent" stroke-linejoin="round"
        stroke-linecap="round" stroke-width="1" (contextmenu)="onRightClick($event)" (mouseover)="onMouseOver($event)" pointer-events="all"/>
    </svg>
<!-- <mat-menu #contextMenu="matMenu">
    <button mat-menu-item (click)="onDelete()">Delete</button>
</mat-menu>
<div [matMenuTriggerFor]="contextMenu" #contextMenuTrigger="matMenuTrigger"></div> -->