.menu-bar {
    background-color: #333;
    overflow: hidden;
    // position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  .menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar li {
    float: left;
  }
  
  .menu-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    cursor: pointer;
  }
  
  .menu-bar li a:hover {
    background-color: #111;
  }
  
  .menu-bar li ul {
    display: none;
    position: fixed;
    min-width: 160px;
  }
  
  .menu-bar li:hover ul {
    display: block;
  }