<nav class="menu-bar">
    <ul>
      <li>
        <a href="#">File</a>
        <ul>
          <li><a href="#">Save</a></li>
          <li><a href="#">Load</a></li>
          <li><a href="#">Export</a></li>
          <li><a href="#">Import</a></li>
          <!-- Add more file options here -->
        </ul>
      </li>
      <li>
        <a href="#">Edit</a>
        <ul>
          <li><a href="#">Undo</a></li>
          <li><a href="#">Redo</a></li>
          <!-- Add more edit options here -->
        </ul>
      </li>
      <!-- Add more main menu options here -->
    </ul>
  </nav>