<nav class="menu-bar">
  <div class="item-container">
    <ul>
      <li>
        <a href="/loader"><</a>
      </li>
      <li>
        <a>File</a>
        <ul>
          <li><a (click)="onClickSave()">Save</a></li>
          <li><a (click)="onClickLoad()">Load</a></li>
          <li><a (click)="onClickExport()">Export</a></li>
          <li><a (click)="onClickImport()">Import</a></li>
          <!-- Add more file options here -->
        </ul>
      </li>
      <li>
        <a href="#">Edit</a>
        <ul>
          <li><a (click)="onClickUndo()">Undo</a></li>
          <li><a (click)="onClickRedo()">Redo</a></li>
          <!-- Add more edit options here -->
        </ul>
      </li>
      <!-- Add more main menu options here -->
    </ul>

    <div [class.saved]="!not_saved" [class.unsaved]="not_saved">
      <a>Unsaved Changes</a> <!-- Your new text element -->
    </div>
    <div class="config-name-container">
      <input class="config-name"  type="text" [(ngModel)]="configName" [disabled]="!configName" (focus)="onFieldEnter()" (blur)="onFieldLeft()"> <!-- Your new input field -->
    </div>
    <div>
      <div *ngIf="executionRunning" class="loader"></div> <!-- Your new loading symbol -->
    </div>
  </div>
  </nav>