.terminal {
  font-family: monospace;
  background-color: black;
  color: white;
  padding: 10px;
  height: fit-content;
  position: relative;
  transition: height 0.5s;
}

.text-terminal {
    font-family: monospace;
    color: white;
    padding: 10px;
    height: 350px;
    width: 950px;
    overflow-y: scroll;
    position: relative;
    transition: height 0.5s;

    .defaultmessage {
      color: grey;
    }
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
  .minimize-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
  }
  
  .minimized {
    height: 30px;
    overflow: hidden;
  }
  