<!-- <div class="container"> -->
    <div class="rectangle" [style.left.px]="x" [style.top.px]="y" (mousedown)="onNodeDrag($event)">
        <div class="title">{{title}}</div>
        <hr> <!-- Horizontal Divider -->
        <div class="information">
            {{informationText}}
        </div>

    </div>
    <!-- <div class="circle-container"> -->
        <div #topCircle class="circle top-circle" (mouseenter)="onTopCircleEnter($event)" (mouseleave)="onTopCircleLeave($event)"></div>
        <div #bottomCircle class="circle bottom-circle" (mousedown)="onBotCircleDrag($event)"></div>
    <!-- </div> -->
<!-- </div> -->