<div class="editor">
    <app-menu-bar [configName]="name" [not_saved]="unsavedChanges" [executionRunning]="executing"
    (saveClick)="handleSaveClick()" (configNameChange)="renameConfig($event)"
    ></app-menu-bar>
    <div class="toolbox">
        <app-control-panel [node_interfaces]="node_interfaces" (nodeCreate)="handleNodeCreate($event)"></app-control-panel>
        <div class="canvas-area">
            <app-tree-canvas [graph]="graph" [node_interfaces]="node_interfaces" [freshlyCreatedNodeId]="freshlyCreatedNodeId" [startNodeId]="startStateNodeId"
                (addEdgeEvent)="handleAddEdgeEvent($event)"
                (nodeDragEvent)="handleNodeDragEvent()"></app-tree-canvas>
            <app-overlay></app-overlay>
        </div>
    </div>
    <app-info-terminal [message_buffer]="infoTerminalMsgs"></app-info-terminal>
</div>