<div class="rectangle" [style.left.px]="x" [style.top.px]="y">
    <div class="title">{{ title }}</div>
    <hr> <!-- Horizontal Divider -->
    <div class="information">
        {{infoText}}
    </div>

    <!-- <div class="input-parameters-container">
        <div *ngFor="let item of state_interface.input_par_interface | keyvalue" class="input-parameters">
            <label class="input-par-label">{{ item.key }}</label>

            <select class="input-par-set" *ngIf="item.value['type']=='enum'">
                <option *ngFor="let value of item.value['values']">{{ value }}</option>
            </select>
            <input type="number" class="input-par-set" *ngIf="item.value['type']=='number'">

            <input type="text" class="input-par-set" *ngIf="item.value['type']=='string'">
            <select class="input-par-set" *ngIf="item.value['type']=='boolean'">
                <option> False </option>
                <option> True </option>
            </select>
        </div>
    </div> -->
</div>
<div class="bottom-circle-container">
    <div #bottomCircle class="circle bottom-circle" [title]="outputGate" (mousedown)="onBotCircleDrag()"></div>
</div>