<div class="rectangle">
    <div class="title">{{ title }}</div>
    <hr> <!-- Horizontal Divider -->
    <div class="information">
        {{infoText}}
    </div>

    <div class="options">
        <div class="options-inner">
            <label class="options-label"> Check Global Var Set and Req</label>
            <input type="checkbox" class="input-par-set">
        </div>
    </div>
    <div class="buttons">
        <button mat-button class="start-node-buttons" (click)="onStart()">Start</button>
        <button mat-button class="start-node-buttons" (click)="onStop()">Stop</button>
        <button mat-button class="start-node-buttons" (click)="onReset()">Reset</button>
    </div>
</div>
<div class="bottom-circle-container">
    <div #bottomCircle class="circle bottom-circle" [title]="outputGate" (mousedown)="onBotCircleDrag()"></div>
</div>