.graph {
    position: relative;
    width: 100%; // Adjust as needed
    height: 2000px; // Adjust as needed
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: repeat(5, 1fr);
    border-color: black;
    background-color: #37474F;
    
  }
  
  .state-node {
    position: absolute;
    z-index: 1;
  }

  .drawing-edge {
    z-index: 1;
  }